{{<template}}
{{$title}}Page 1{{/title}}
{{$content}}
    {{#menus}}
    Title: {{title}}
        {{#links}}
            Description: {{description}}
            URL: {{url}}        
        {{/links}}
    {{/menus}}
{{/content}}
{{/template}}